<div class="hero">
    <div class="container ">
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="dryCleanDiv m-auto pb-3">
                    <div id="smHeading" class="d-lg-none" align="center">
                        <h2>Dry Clean </h2>
                        <h3>or</h3>
                        <h2>Wash & Fold?</h2>
                        <p>One less thing to worry about...</p>
                    </div>
                    <div class="row align-items-center p-3 d-none d-lg-inline" align="center">
                        <h2>Dry Clean </h2>
                        <h3>or</h3>
                        <h2>Wash & Fold?</h2>
                        <p>One less thing to worry about...</p>
                    </div>
                    <div class="row align-items-center">
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-secondary d-lg-none" data-bs-dismiss="modal" data-bs-toggle="modal"
                                data-bs-target="#custLoginModel" id="smLogin">Login</button>
                            <button class="btn btn-secondary d-none d-lg-inline loginBtn" id="loginBtn">Login</button>
                            <span class="p-3 text-light">or</span>
                            <button class="btn btn-primary d-lg-none" id="smSignUp" data-bs-dismiss="modal"
                                data-bs-toggle="modal" data-bs-target="#custSignUpModel">Sign-Up</button>
                            <button class="btn btn-primary d-none d-lg-inline signUpBtn" id="signUpBtn">Sign-Up</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-md-none d-lg-flex col-lg-7 lg-screen-display" id="windowRt">
                <div id="carouselHero" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner pb-5">
                        <div class="carousel-item active" align="center">
                            <h3>No time to lug that pile of clothes to the laundromat?</h3>
                        </div>
                        <div class="carousel-item">
                            <h1>We'll pick it up!</h1>
                        </div>
                        <div class="carousel-item">
                            <h1>Which one is the clean pile...?</h1>
                        </div>
                        <div class="carousel-item">
                            <h1>We're here to help...</h1>
                        </div>
                    </div>
                </div>
                <form id="loginForm" class="loginForm">
                    <div class="form-group">
                        <label for="loginEmail">Email address</label>
                        <input type="email" class="form-control loginEmail" id="loginEmail" autocomplete="email"
                            aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="loginPw">Password</label>
                        <input type="password" class="form-control loginPw" id="loginPw" autocomplete="current-password"
                            placeholder="Password">
                    </div>
                    <button type="submit" class="mt-3 btn btn-primary">Login</button>
                </form>
                <form id="signUpForm" class="signUpForm">
                    <div class="form-group">
                        <label for="signUpEmail">Email address</label>
                        <input type="email" class="form-control signUpEmail" id="signUpEmail" autocomplete="email"
                            aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="signUpPw">Password</label>
                        <input type="password" class="form-control signUpPw" id="signUpPw" autocomplete="new-password"
                            placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Re-Enter Password</label>
                        <input type="password" class="form-control pwVerify" id="pwVerify" autocomplete="new-password"
                            placeholder="Re-Enter Password">
                    </div>
                    <div class="form-group">
                        <label for="signUpStreetAdd">Street Address</label>
                        <input type="text" class="form-control signUpStreetAdd" id="signUpStreetAdd"
                            autocomplete="street-address" aria-describedby="emailHelp" placeholder="Street Address">
                    </div>
                    <div class="form-group">
                        <label for="signUpCity">City</label>
                        <select id="signUpCity" class="form-select signUpCity">
                            {{#each cities}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group w-30">
                        <label for="signUpState">State</label>
                        <select id="signUpState" class="form-select signUpState">
                            {{#each states}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="signUpZip">ZIP Code</label>
                        <input type="number" class="form-control signUpZip" id="signUpZip" autocomplete="postal-code"
                            aria-describedby="emailHelp" placeholder="ZIP">
                    </div>
                    <button type="submit" class="mt-3 btn btn-primary">Sign-Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row p-4 ctaText">
        <div class="col-12 col-md-4">
            <h1>How it works:</h1>
            <div class="ctaImg"></div>

            {{!-- <img class="ctaImg" src="../images/oh-no.png" alt=""> --}}
        </div>
        <div class="col-12 col-md-8">
            <p class="howItWorks">We know how difficult it is to find extra time in your day to do the things
                you love, and who wants to spend that time doing laundry? Theres never any
                detergent left, you're always out of dryer sheets, and worst of all, you have
                to fold that mountain when you're finished! Lucky for you, SimpleSuds is here to
                help! We connect you to local dry clean or wash & fold services that will pick
                up that pile in one of our provided bags, wash & fold your stuff and return
                it <strong>SAME DAY!</strong></p>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-12 col-md-8">
            {{>price-table}}
        </div>
        <div class="col-0 col-md-4"><img class="ctaImg2 d-none d-md-flex" src="../images/truck.png" alt=""></div>
    </div>
    <div class="row p-4">
        <div class="col-12 col-md-4">
            <h1>Now available in:</h1>
        </div>
        <div class="col-12 col-md-8">
            <div class="overflow-auto available">
            {{#each cities}}
            <p>{{this}}</p>
            {{/each}}
            </div>
        </div>
    </div>
</div>
<section class="">
    <footer class="text-center " id="footerBody">
        <div class="container p-4 pb-0">
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3">Are you a laundromat owner interested in joining our team?</span>
                    <a type="button" href="/admin/login" class="btn btn-outline-dark btn-rounded">
                        Join Here!
                    </a>
                </p>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://SimpleSuds.com/">SimpleSuds.com</a>
            <h6>Created by: 
            <a href="https://github.com/bhumisha">Bhumisha</a>
            <a href="https://github.com/squeakymatter">Michelle</a>
            &
            <a href="https://github.com/benwade91">Ben</a>
            </h6>
        </div>
    </footer>
</section>
{{>custSignUp states}}
{{>custLogin}}

<script src="/js/home.js"></script>
<script src="/js/cust_login.js"></script>
<script src="/js/cust_signup.js"></script>